@font-face {
    font-family: "olive";
    src: url(./Fontes/olive/Oliver-Regular.ttf);
}

body {
    font-family: "olive";
    padding: 20px;
    color: rgb(31, 36, 33);
    background-color: rgb(250, 240, 202);
    text-align: justify;
    width: 90%;
}

#titulo1 {
    font-size: 30px;
    text-align: center;
}

#container {
    display: inline-flex;
    border: 2px;
    border-style: dashed;
}

#textoEparagrafo {
    display: block;
}

.paragrafo {
    width: 100%;
    font-size: 20px;
    color: rgb(243, 56, 109);
    border: 1px;
    border-style: dashed;
    text-align: justify;
}

.texto {
    position: relative;
    font-size: 15px;
    padding-left: 20px;
    border: 1px;
    border-style: dashed;
    text-align: justify;
}

#angy {
    position: relative;
    border: 1px;
    border-style: dashed;
    text-align: right;
    padding: 10px;
}

/* Smartphones (600px ou menos) */
@media only screen and (max-width:600px) {
    body {
        background-color: cadetblue;
    }

    #angy {
        display: none;
    }

    /*a classe texto não irá aparecer
    .texto {
        display: none;
    }  */
}

/* Dispositivos um tico maiores */
@media only screen and (min-width:600px) {
    body {
        background-color: wheat;
    }

    #angy {
        width: 300px;
    }
}

/* Dispositivos Médios (tablet horizontal, 768px ou mais) */
@media only screen and (min-width:768px) {
    body {
        background-color: cornflowerblue;
    }
}

/* Dispositivos Largos (laptop/desktop, 992px ou mais) */
@media only screen and (min-width:992px) {
    body {
        background-color: darksalmon;
    }
}

/* Dispositivos Super Largos (Tvs etc, 1100px ou mais) */
@media only screen and (min-width:1100px) {
    body {
        background-color: darkslategrey;
    }
}
