* {
    cursor: url("./cursores/cursorGato.png"), auto !important;
} 

@font-face {
    font-family: 'RainyHearts';
    src: url(./fontes/rainyhearts/rainyhearts.ttf) format('truetype');
}

@font-face {
    font-family: 'Oliver';
    src: url(./fontes/olive/Oliver-Regular.ttf) format('truetype');
}

body {
    background-image: url('./imagens/fundo/estrela.gif');
    background-repeat: repeat;
    font-family: 'RainyHearts';
    color: rgb(31, 36, 33);
}

#tudo {
    background-color: pink;
    width: 90%;
}

#titulo {
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Oliver';
    background-image: url(./imagens/fundo/backgroundPastel.gif);
    background-repeat: repeat;
    background-clip: text;
    color: transparent;
}

#dividerCabecalho {
    height: 50px;
    width: 100%;
    background-image: url('./adendos/heartLaceDivider.gif');
    background-repeat: repeat;
}

#container {
    background-color: white;
    align-items: center;
    display: inline-flex;
    padding: 30px;
}

.blinkies {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#divBlinkies {
    width: 200px;
    background-color: blue;
}

#divComputer{
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 138, 197);
}

#computer {
    background-color: blueviolet;

    position: absolute;
    padding-top: 100px;
    padding-right: 20px;
}

#knuckles {
    background-color: aqua;
    position: absolute;
    padding-left: 320px;
    padding-bottom: 300px;
}

#divFotoEu {
    width: 350px;
    background-color: aqua;
}

#fotoEu {
    width: 300px;
    align-items: center;
}

#divDescEu {
    width: 400px;
    text-align: justify;
    background-color: chartreuse;
}

#descEu {
    font-size: 18px;
}

#footer {
    margin-top: 10px;
    height: 20px;
    width: 100%;
    background-image: url('./adendos/gatinhoDivider.gif');
    background-repeat: repeat;
}
