@font-face {
    font-family: 'Pixel';
    src: url(./fontes/PixelOperator.ttf) format('truetype');
}
@font-face {
    font-family: 'Pixel';
    src: url(./fontes/PixelOperator-Bold.ttf) format('truetype');
    font-weight: bold;
}

body {
    background-image: url('./imagens/fundo/estrela.gif');
    background-repeat: repeat;
    font-family: 'Pixel';
}

#tudo {
    background-color: pink;
}

#titulo {
    margin-top: 70px;
    font-size: 30px;
    font-family: 'Pixel';  
}

#container {
    align-items: center;
    display: inline-flex;
    padding: 30px;
}

#divFotoEu, #divDescEu {
    align-self: center;
    margin-left: 30px;
}

#divFotoEu {
    width: 600px;
    background-image: url('./adendos/container1.png');
    background-size: 200px;
    background-position: top;
    background-repeat: no-repeat;
}

#fotoEu {
    width: 100px;
}

#divDescEu {
    width: 400px;
}

#blinkieAutism, #blinkieConection, #blinkieSilly, #blinkieWeb {
    width: 300px;
}
