body
{
    background-repeat: repeat;
}

#titulo
{
    margin-top: 70px;
    font-size: 30px;
    font-family: Tahoma;
}

.container
{
    display: inline-flex;
    
}

.fotoEu, .descricaoEu {
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}


.descricaoEu
{
    width: 500px;
    align-self: center;
}

img#fotoEu
{
    width: 500px;
    height: 500px;
}

#descricaoEu
{
    text-align: justify;
    font-size: 20px;
    font-family: Tahoma;
}